.headerPrincipal .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerPrincipal-nav {
  display: flex;
}

.rodapePrincipal-patrocinadores .container {
  display: flex;
  justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
}

.rodapePrincipal-contatoForm-fieldset {
  display: flex;
}
